<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <properties>
    <property name="log_home">${env:log.path.prefix}</property>
    <property name="displayName">cdtp-status</property>
    <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}:%L -%m%n</Property>
  </properties>
  <appenders>
    <Console name="console" target="SYSTEM_OUT" follow="true">
      <PatternLayout>
        <pattern>${pattern}</pattern>
      </PatternLayout>
    </Console>
    <File name="error" fileName="${log_home}/${displayName}_error.log" append="false">
      <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout>
        <pattern>${pattern}</pattern>
      </PatternLayout>
    </File>
    <RollingFile name="rollingFile" fileName="${log_home}/${displayName}.log"
      filePattern="${displayName}_%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <pattern>${pattern}</pattern>
      </PatternLayout>
      <SizeBasedTriggeringPolicy size="50 MB"/>
    </RollingFile>
  </appenders>
  <Loggers>
    <logger name="com.mchange" level="ERROR" additivity="false"/>
    <root level="info">
      <appenderRef ref="console"/>
      <appenderRef ref="error"/>
      <appenderRef ref="rollingFile"/>
    </root>
  </Loggers>
</configuration>